<template>
    <div>
        <div style="width: 600px">
            <div class="title-customer-edit">
                수수료율 등록
                <el-form ref="form" :model="form" label-width="120px">
                    <el-form-item label="수수료 율">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                </el-form>
                <el-button type="primary">등록</el-button><br /> <br />
                <el-button type="primary">취소</el-button>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',
    data() {
        return {
            form: {
                name: ' %',
            }
        }
    },
}
</script>
