<template>
    <div>
        <div style="width: 600px">
            <div class="title-feesRate-edit">
                수수료율 리스트
                <el-table
                    :data="tableData.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()))"
                    style="width: 100%">
                    <el-table-column
                        label="No"
                        prop="no"
                        witdh="180">
                    </el-table-column>
                    <el-table-column
                        label="최근 수정 일시"
                        prop="date"
                        witdh="180">
                    </el-table-column>
                    <el-table-column
                        label="수수료율[%]"
                        prop="date2"
                        witdh="180" >
                    </el-table-column>
                    <el-table-column
                        align="right">
                        <template slot="header" slot-scope="scope">
                            <el-button
                                size="medium"
                                @click="handleEdit(scope.$index, scope.row)">등록
                            </el-button>
                        </template>
                        <template slot-scope="scope">
                            <el-button
                                size="medium"
                                @click="handleEdit(scope.$index, scope.row)">수정
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    middleware: 'auth',
    data() {
        return {
            list: [],
            tableData: [{
            }],
        }
    },
    methods: {
        getList() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$feesRateConstants.DO_FEES_LIST)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        // delData(id) {
        //     if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기
        //         this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
        //         this.$store.dispatch(this.$testDataConstants.DO_DELETE, {id: id})
        //             .then((res) => {
        //                 this.$toast.success(res.data.msg)
        //                 this.getList()
        //                 this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        //             })
        //             .catch((err) => {
        //                 this.$toast.error(err.response.data.msg)
        //                 this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
        //             })
        //     }
        // },
        moveCreate() { // 등록
            this.$router.push(`/fees-rate/create`) // 푸쉬를 하면 바로 주소 창으로 이동
        },
        moveDetail(id) { // 상세
            let linkBaseUrl = '/fees-rate/detail/' // 이동할 주소창
            this.$router.push(`${linkBaseUrl}${id}`) // 푸쉬를 하면 바로 주소 창으로 이동
        },
        moveEdit(id) { // 수정
            let linkBaseUrl = '/fees-rate/edit/' // 이동할 주소창
            this.$router.push(`${linkBaseUrl}${id}`) // 푸쉬를 하면 바로 주소 창으로 이동
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    },
}
</script>
