<template>
    <div>
        <div class="title-home-menu"> 가맹점 상세 수정</div>
        <div class="form-home-menu">
            <el-form :model="form" :rules="validateForm" ref="form" label-width="120px">
                <el-form-item label="등록일"> {{ form.dateCreate }}</el-form-item>
                <el-form-item label="대표자명" prop="name">
                    <el-input v-model="form.name"></el-input>
                </el-form-item>

                <el-form-item label="연락처" prop="phoneNumber">
                    <el-input v-model="form.phoneNumber"></el-input>
                </el-form-item>

                <el-form-item label="가맹점명" prop="customerName">
                    <el-input v-model="form.storeName"></el-input>
                </el-form-item>

                <el-form-item label="주소" prop="customerAddress">
                    <el-input v-model="form.address"></el-input>
                </el-form-item>

                <el-form-item label="사업자 등록번호">
                    <el-input v-model="form.businessNumber" :disabled="true"></el-input>
                </el-form-item>

                <el-form-item label="아이디">
                    <el-input v-model="form.username" :disabled="true"></el-input>
                </el-form-item>
            </el-form>

            <div style="text-align: center; padding-top: 10px">
                <el-button>저장하기</el-button>
            </div>

        </div>


    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    validate({params}) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            form: {
                dateCreate: '',
                name: '',
                phoneNumber: '',
                storeName: '',
                address: '',
                businessNumber: '',
                username: ''
            },
            validateForm: {
                name: [
                    {required: true, message: '이름을 입력해주세요', trigger: 'blur'},
                    {min: 1, max: 20, message: '이름을 1~20자 내로 입력해주세요', trigger: 'blur'}
                ],
                phoneNumber: [
                    {required: true, message: '연락처를 입력해주세요', trigger: 'blur'},
                    {min: 13, max: 13, message: '연락처를 13자로 입력해주세요', trigger: 'blur'}
                ],
                storeName: [
                    {required: true, message: '가맹점명을 입력해주세요', trigger: 'blur'},
                    {min: 1, max: 50, message: '가맹점명를 1~50자 내로 입력해주세요', trigger: 'blur'}
                ],
                address: [
                    {required: true, message: '주소을 입력해주세요', trigger: 'blur'},
                    {min: 1, max: 100, message: '주소를 1~100자 내로 입력해주세요', trigger: 'blur'}
                ]
            }
        }
    },

    methods: {
        getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_DETAIL, {id: 1})
                .then((res) => {
                    this.form = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                }).catch(err => {
                this.$toast.error(err.response.data.msg)
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
            })
        },

        onSubmit() {
            console.log('submit!');
        }
    },

    created() {
        this.getDetail()
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CUSTOMER_EDIT')
    },
}
</script>

<style>

.bg-purple {
    background: #d3dce6;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
</style>

