<template>
    <div>
        <div style="width: 600px">
            <div class="title-customer-edit">
                수수료율 수정
                <el-form ref="form" :model="form" label-width="120px">
                    <el-row :gutter='10'>
                    <el-col :span="12">
                    <el-form-item label="수수료 율">
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    </el-col>
                    </el-row>
                    <el-button type="primary">등록</el-button><br/><br/>
                    <el-button type="primary">취소</el-button>
                </el-form>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    validate({params}) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id:null,
            form: {
                name: ' %',
            }
        }
    },
    methods: {
        onSubmit() {
            console.log('submit!');
        }
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'FEE_RATE_DETAIL')
    },
}
</script>
