<template>
    <div>
        <div style="width: 600px">
            <div class="title-customer-edit">
                수수료율 상세
            </div>
        </div>
    </div>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    validate({params}) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
        }
    },

    methods: {
        onSubmit() {
            console.log('submit!');
        }
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'FEE_RATE_DETAIL')
    },
}
</script>

<style>

.bg-purple {
    background: #d3dce6;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
</style>

