<template>
    <div>
        <div class="title-home-menu"> 가맹점 상세 정보</div>
        <div class="form-home-menu">
            <el-form :model="form" ref="form" label-width="120px">
                <el-form-item label="등록일 : "> {{ form.dateCreate }}</el-form-item>
                <el-form-item label="대표자명 : "> {{ form.name }}</el-form-item>
                <el-form-item label="연락처 : "> {{ form.phoneNumber }}</el-form-item>
                <el-form-item label="가맹점명 : "> {{ form.storeName }}</el-form-item>
                <el-form-item label="주소 : "> {{ form.address }}</el-form-item>
                <el-form-item label="사업자 등록번호 : "> {{ form.businessNumber }}</el-form-item>
                <el-form-item label="아이디 : "> {{ form.username }}</el-form-item>
            </el-form>

            <div style="text-align: center; padding-top: 10px">
                <el-button>정산</el-button>
                <el-button>후기</el-button>
                <el-button @click.native="moveEdit()">수정</el-button>
            </div>

        </div>


    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    validate({params}) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            form: {
                dateCreate: '',
                name: '',
                phoneNumber: '',
                storeName: '',
                address: '',
                businessNumber: '',
                username: ''
            },
        }
    },

    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$memberConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.form = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                }).catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit() {
            let linkBaseUrl = '/home-menu/customer/edit'
            this.$router.push(`${linkBaseUrl}`)
        },
        onSubmit() {
            console.log('submit!');
        }
    },

    created() {
        this.getDetail()
        console.log('created!');
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CUSTOMER_DETAIL')
    },
}
</script>

<style>

.bg-purple {
    background: #d3dce6;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
</style>

