<template>
    <div>
        <div class="title-home-menu">정산 상세 정보<br></div>
        <div class="subtitle-home-menu">{{ form.customerName }}<br></div>

        <div class="form-home-menu">
            <el-form :model="form" ref="form" label-width="120px">
                <el-form-item label="등록일 : "> {{ form.dateCreate }}</el-form-item>
                <el-form-item label="총매출 : "> {{ form.totalPrice | currency }} 원</el-form-item>
                <el-form-item label="수수료율 : "> {{ form.feesRate | percent }}</el-form-item>
                <el-form-item label="공제금 : "> {{ form.minusPrice | currency }} 원</el-form-item>
                <el-form-item label="정산금 : "> {{ form.calculatePrice | currency }} 원</el-form-item>
                <el-form-item label="상태 : "> {{ form.calculateStatus }}</el-form-item>
            </el-form>
            <div style="text-align: center; padding-top: 10px">
                <el-button @click.native="moveEdit()">수정</el-button>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    validate({params}) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            form: {
                dateCreate: '2020-01',
                customerName: '중앙역 피트니스',
                totalPrice: 123456,
                feesRate: 0.1,
                minusPrice: 555555,
                calculatePrice: 987654321,
                calculateStatus: "COMPLETE",
            },
        }
    },

    methods: {
        moveEdit() {
            let linkBaseUrl = '/home-menu/calculate/edit'
            this.$router.push(`${linkBaseUrl}`)
        },
        onSubmit() {
            console.log('submit!');
        },
    },

    created() {
        if (this.form.calculateStatus === "ING") {
            this.form.calculateStatus = "정산중";
        } else if (this.form.calculateStatus === "COMPLETE") {
            this.form.calculateStatus = "정산완료";
        }
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CALCULATE_DETAIL')
    },
}
</script>

<style>

.bg-purple {
    background: #d3dce6;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
</style>

