<template>
    <div>
        <div class="title-home-menu"> 정산 상세 수정</div>
        <div class="subtitle-home-menu">{{ form.customerName }}<br /></div>
        <div class="form-home-menu">
            <el-form :model="form" :rules="validateForm" ref="form" label-width="120px">
                <el-form-item label="등록일">
                    {{ form.dateCreate }}
                </el-form-item>

                <el-form-item label="총매출" prop="totalPrice">
                    <el-input type="text" v-model="form.totalPrice" @input="onInputTotalPrice()"></el-input>
                </el-form-item>

                <el-form-item label="수수료율" prop="feeRate">
                    <el-input v-model="form.feeRate"></el-input>
                </el-form-item>

                <el-form-item label="공제금" prop="minusPrice">
                    <el-input v-model="form.minusPrice" @input="onInputMinusPrice()"></el-input>
                </el-form-item>

                <el-form-item label="정산금" prop="calculatePrice">
                    <el-input v-model="form.calculatePrice" @input="onInputCalculatePrice()"></el-input>
                </el-form-item>

                <el-form-item label="정산 상태" prop="calculateStatus">
                    <el-select v-model="form.calculateStatus">
                        <el-option label="정산중" value="ING"></el-option>
                        <el-option label="정산완료" value="COMPLETE"></el-option>
                    </el-select>
                </el-form-item>
            </el-form>

            <div style="text-align: center; padding-top: 10px">
                <el-button @click="onSubmit()">저장하기</el-button>
            </div>

        </div>


    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            form: {
                dateCreate: '2020-01-01',
                customerName: '중앙역 피트니스',
                totalPrice: "500,000",
                feeRate: 0.1,
                minusPrice: "5,000",
                calculatePrice: "455,000",
                calculateStatus: "COMPLETE",
            },
            validateForm: {
                totalPrice: [
                    {required: true, message: '총매출을 입력해주세요', trigger: 'blur'},
                ],
                feeRate: [
                    {required: true, message: '수수료율을 입력해주세요', trigger: 'blur'},
                ],
                minusPrice: [
                    {required: true, message: '공제금을 입력해주세요', trigger: 'blur'},
                ],
                calculatePrice: [
                    {required: true, message: '정산금을 입력해주세요', trigger: 'blur'},
                ],
                calculateStatus: [
                    {required: true, message: '상태를 입력해주세요', trigger: 'blur'},
                ]
            }
        }
    },

    methods: {
        onSubmit() {
            console.log('submit!');
        },
        onInputTotalPrice() {
            //this.form.totalPrice = this.$convertFormatPriceToNumberText(this.$convertFormatPriceToNumber(this.form.totalPrice));
        },

        onInputMinusPrice() {
            //this.form.minusPrice = this.$convertFormatPriceToNumberText(this.$convertFormatPriceToNumber(this.form.minusPrice));
        },

        onInputCalculatePrice() {
            //this.form.calculatePrice = this.$convertFormatPriceToNumberText(this.$convertFormatPriceToNumber(this.form.calculatePrice));
        }
    },

    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'CALCULATE_EDIT')
    },
}
</script>

<style>

.bg-purple {
    background: #d3dce6;
}

.grid-content {
    border-radius: 4px;
    min-height: 36px;
}
</style>

