<template>
    <div id="app">
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" action="https://papago.naver.com/">
            <el-form-item label="등록년월" required>
                <el-col :span="10">
                    <el-form-item prop="dateYear">
                        <el-date-picker type="month" placeholder="Pick a date" v-model="ruleForm.dateYear" style="width: 41.8%;"></el-date-picker>
                    </el-form-item>
                </el-col>
            </el-form-item>
            <br />
            <el-form-item label="총매출" prop="totalSales" required>
                <el-input v-model="ruleForm.totalSales" style="width: 41.8%;"></el-input>
            </el-form-item>
            <br />
            <el-form-item label="수수료율" prop="feeRate" required>
                <el-input v-model="ruleForm.feeRate" style="width: 41.8%;"></el-input>
            </el-form-item>
            <br />
            <el-form-item label="정산금" prop="totalPrice" required>
                <el-input v-model="ruleForm.totalPrice" style="width: 41.8%;"></el-input>
            </el-form-item>
            <br />
            <el-form-item label="공제금" prop="deductibleMoney" required>
                <el-input v-model="ruleForm.deductibleMoney" style="width: 41.8%;"></el-input>
            </el-form-item>
            <br />
            <el-row :gutter="15">
                <el-col :span="11">
            <el-form-item label="상태" prop="totalPriceState" required>
                <el-select v-model="ruleForm.totalPriceState">
                    <el-option label="정산중" value="ing"></el-option>
                    <el-option label="정산완료" value="success"></el-option>
                </el-select>
            </el-form-item>
                </el-col>
            </el-row>
        </el-form>
            <el-table-row>
                <el-button type="primary">등록</el-button>
            </el-table-row>
        <br />

    </div>
</template>

<script>
export default {
    middleware: 'auth',
    data() {
        return {
            ruleForm: {
                dateYear: '',
                totalSales: '',
                feeRate: '',
                deductibleMoney: '',
                totalPrice: '',
                totalPriceState: '',
            },
            rules: {
                name: [
                    { required: true, message: 'Please input Activity name', trigger: 'blur' },
                    { min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur' }
                ],
                region: [
                    { required: true, message: 'Please select Activity zone', trigger: 'change' }
                ],
                date1: [
                    { type: 'date', required: true, message: 'Please pick a date', trigger: 'change' }
                ],
                date2: [
                    { type: 'date', required: true, message: 'Please pick a time', trigger: 'change' }
                ],
                type: [
                    { type: 'array', required: true, message: 'Please select at least one activity type', trigger: 'change' }
                ],
                resource: [
                    { required: true, message: 'Please select activity resource', trigger: 'change' }
                ],
                desc: [
                    { required: true, message: 'Please input activity form', trigger: 'blur' }
                ]
            }
        };
    },
    methods: {
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    alert('submit!');
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    },
}
</script>
