
<template>
    <div id="app">
        <el-table-row>
            <font size="6">
                가맹점 정산 리스트
            </font>

        </el-table-row>
        <br><br><br>
    <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
            prop="no"
            label="No."
            width="180">
        </el-table-column>
        <el-table-column
            prop="dateYear"
            label="등록년월"
            width="180">
        </el-table-column>
        <el-table-column
            prop="totalSales"
            label="총 매출 [원]"
            width="180">
        </el-table-column>
        <el-table-column
            prop="feeRate"
            label="수수료율 [%]"
            width="180">
        </el-table-column>
        <el-table-column
            prop="deductibleMoney"
            label="공제금 [원]"
            width="180">
        </el-table-column>
        <el-table-column
            prop="totalPrice"
            label="정산금 [원]"
            width="200">
        </el-table-column>
        <el-table-column
            prop="totalPriceState"
            label="상태">
        </el-table-column>
        <el-table-column>
            <el-button type="primary">수정</el-button>
        </el-table-column>
    </el-table>
    </div>
</template>

<script>

export default {
    middleware: 'auth',
    data() {
        return {
            tableData: [{
                no: '1',
                dateYear: '2016-05',
                totalSales: '100,000원',
                feeRate: '1.0%',
                deductibleMoney: '21,000원',
                totalPrice: '79,000원',
                totalPriceState: '정산완료'
            }, {
                no: '2',
                dateYear: '2016-05',
                totalSales: '100,000원',
                feeRate: '1.0%',
                deductibleMoney: '21,000원',
                totalPrice: '79,000원',
                totalPriceState: '정산중'
            }]
        }
    }
}
</script>
