<template>
    <div>
        <el-button type="success" circle @click.native="moveCreate()">등록</el-button>
        <div
            v-for="(item, index) in list"
            v-bind:key="index"
        >
            id : {{ item.id }}<br /> <!--  -->
            name : {{ item.name }}<br /> <!--  -->
            phone : {{ item.phone }}<br /> <!--  -->
            <el-button type="success" icon="el-icon-check" circle @click.native="moveDetail(item.id)"></el-button> <!-- 클릭하면 상세? -->
            <el-button type="primary" icon="el-icon-edit" circle @click.native="moveEdit(item.id)"></el-button> <!-- 클릭하면 수정? -->
            <el-button type="danger" icon="el-icon-delete" circle @click.native="delData(item.id)"></el-button> <!-- 클릭하면 삭제? -->
            <hr />
        </div>
    </div>
</template>

<script>
export default {
    // middleware: 'auth',
    data() {
        return {
            list: []
        }
    },
    methods: {
        getList() { // 리스트 가져오기.
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true) // FETCH_LOADING_SHOW이 로딩을 띄움.
            this.$store.dispatch(this.$testDataConstants.DO_LIST) // 테스트데이터 리스트 파견?
                .then((res) => { // 실행하고 나서
                    this.list = res.data.list // 리스트창으로 가기
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false) // 로딩창 띄우기
                })
                .catch((err) => { // 에러를 잡았을 때
                    this.$toast.error(err.response.data.msg) // 에러메세지 창 띄우기
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false) // 로딩창 띄우기
                })
        },
        delData(id) { // 데이터 삭제
            if (confirm('정말 삭제하시겠습니까?')) { // javascript confirm 검색하기 // 정말 삭제하시겠습니까?? 창 띄우기.
                this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true) // 로딩 창 띄우기.
                this.$store.dispatch(this.$testDataConstants.DO_DELETE, {id: id}) // 삭제처리를 하기.
                    .then((res) => {
                        this.$toast.success(res.data.msg) // true or false
                        this.getList() // 리스트창으로 가기.
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false) // 로딩창 띄우기
                    })
                    .catch((err) => {
                        this.$toast.error(err.response.data.msg) // 에러메세지 창 띄우기
                        this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false) // 로딩창 띄우기
                    })
            }
        },
        moveCreate() { // 등록
            this.$router.push(`/customer/form`) // 푸쉬를 하면 바로 주소 창으로 이동
        },
        moveDetail(id) { // 상세
            let linkBaseUrl = '/customer/detail/' // 이동할 주소창
            this.$router.push(`${linkBaseUrl}${id}`) // 푸쉬를 하면 바로 주소 창으로 이동
        },
        moveEdit(id) { // 수정
            let linkBaseUrl = '/customer/edit/' // 이동할 주소창
            this.$router.push(`${linkBaseUrl}${id}`) // 푸쉬를 하면 바로 주소 창으로 이동
        }
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_LIST')
    },
}
</script>
